coverage
-e git+https://github.com/enthought/machotools#egg=machotools
-e git+https://github.com/enthought/appinst#egg=appinst
-e git+https://github.com/enthought/okonomiyaki#egg=okonomiyaki
mock
nose
six
unittest2
